---
import Layout from "@layouts/Layout.astro";

const { title } = Astro.props;
---

<Layout title={title}>

<main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8 mt-10">
  <div class="text-center">
    <p class="text-lg font-semibold text-indigo-500 dark:text-white">404</p>
    <h1 class="mt-4 text-balance text-5xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-7xl">Esta página no existe ...</h1>
    <p class="mt-6 text-pretty text-lg font-medium text-gray-500 dark:text-gray-300 sm:text-xl/8">Lo sentimos, no hemos podido encontrar la página que busca.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="/" class="rounded-md bg-gray-200 px-3.5 py-2.5 transition hover:scale-105 text-sm font-semibold text-gray-600 hover:text-gray-200 shadow-sm hover:bg-teal-500/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 border border-teal-400">Volver a inicio</a>
      <a href="#" class="text-sm font-semibold text-gray-900 dark:text-gray-300">Contacte con centro de ayuda <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
</main>

</Layout>
