---
import EyeIcon from "@icons/Eye.astro";
import TargetIcon from "@icons/Target-arrow.astro";
---

<section class="lg:flex max-w-[85rem] 2xl:max-w-full gap-4 mx-auto w-full">
	<div class="lg:w-1/2 py-4">
		<div>
			<span class="text-lg font-semibold text-center pt-14 text-primary"
				>Quiénes somos
			</span>
			<h2 class="font-semibold lg:text-3xl text-2xl pb-4">
				Innovamos nuevas soluciones tecnológicas
			</h2>
			<p class="text-balance dark:text-gray-400">
				Somos una empresa dedicada en brindar soluciones tecnológicas.
				Distribuidor de equipos técnologicos, electrónicos, impreión, datacenter
				y comunicacines: Computadoras, laptops, monitores, impresoras,
				perifericos y suministros.
			</p>
		</div>
		<div class="mt-7 grid w-full gap-3 sm:inline-flex">
			<article>
				<a
					href="#"
					class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
				>
					<h5
						class="flex gap-4 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
					>
						<EyeIcon class="size-10 text-primary" />
						Misión
					</h5>
					<p class="font-normal text-gray-700 dark:text-gray-400">
						Desarrollar y brindar soluciones tecnológicas innovadoras y de
						calidad y equipos de cómputo..
					</p>
				</a>
			</article>
			<article>
				<a
					href="#"
					class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
				>
					<h5
						class="flex gap-4 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
					>
						<TargetIcon class="size-10 text-primary" />
						Visión
					</h5>
					<p class="font-normal text-gray-700 dark:text-gray-400">
						Ser reconocidos como lideres en el mercado de desarrollo y
						soluciones tecnológicas.
					</p>
				</a>
			</article>
		</div>
		<div class="pt-4">
			<button
				class="px-4 py-2 bg-secondary rounded-lg text-white dark:bg-gray-800 hover:bg-primary/50 hover:dark:bg-gray-200 hover:dark:text-gray-800 border border-white"
			>
				Ver más detalles
			</button>
		</div>
	</div>

	<div class="grid grid-cols-2 gap-4 lg:w-1/2">
		<div class="w-full h-auto">
			<img
				class="h-auto max-w-full rounded-lg bg-cover"
				src="https://plus.unsplash.com/premium_photo-1682146029185-198922bd8350?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
				alt=""
			/>
		</div>
		<div class="w-full h-auto">
			<img
				class="h-auto max-w-full rounded-lg bg-cover"
				src="https://plus.unsplash.com/premium_photo-1661715583676-165c827b1cff?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
				alt=""
			/>
		</div>
		<div class="w-full h-auto">
			<img
				class="h-auto max-w-full rounded-lg bg-cover"
				src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
				alt=""
			/>
		</div>
		<div class="w-full h-auto">
			<img
				class="h-auto max-w-full rounded-lg bg-cover"
				src="https://images.unsplash.com/photo-1520520688967-7bdc16e77dc2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
				alt=""
			/>
		</div>
	</div>
</section>
